<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/index.css">
    <link rel="icon" href="./assets/images/Logo.png">
    <title>E-Kaly | Admin</title>
</head>

<body>

    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="./assets/images/logo.png">
                    <h2>E-<span class="kaly">KALY</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="index.html">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Accueil</h3>
                </a>
                <a href="ListeRestoLivreur.html">
                    <span class="material-icons-sharp">
                        inventory
                    </span>
                    <h3>Restaurant & Livreur</h3>
                </a>
                <a href="Revenu.html">
                    <span class="material-icons-sharp">
                        <!-- charts -->
                    </span>
                    <h3>Revenue Mensuel</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Settings</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <!-- New Users Section -->
            <div class="new-users">
                <h2>Listes des admins</h2>
                <div class="user-list">
                    <div class="user">
                        <img src="./assets/images/profile-2.jpg">
                        <h2>Admin1</h2>
                    </div>
                    <div class="user">
                        <img src="./assets/images/profile-3.jpg">
                        <h2>Admin2</h2>
                    </div>
                    <div class="user">
                        <img src="./assets/images/profile-4.jpg">
                        <h2>Admin3</h2>
                    </div>
                    <div class="user">
                        <a href="Ajout.html"><img src="./assets/images/plus.png"></a>
                        <h2>Ajouter</h2>
                    </div>
                </div>

                <div class="recent-orders">
                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Numero</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tr>
                            <td>nom_admin</td>
                            <td>mail_admin</td>
                            <td>numero_admin</td>
                            <td><a href="" style="color: red;">Supprimer</a></td>
                            <td><a href="ModifAdmin.html">Modifier</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- End of New Users Section -->

            <!-- End of Recent Orders -->
            <div class="recent-orders">
                <h2>Listes des clients</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Numero</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tr>
                        <td>nom_client</td>
                        <td>mail_client</td>
                        <td>numero_client</td>
                        <td><a href="" style="color: red;">Supprimer</a></td>
                    </tr>
                </table>
            </div>
            <!-- End of Recent Orders -->

        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p><b>nom_admin</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="./assets/images/profile-1.jpg">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

            <div class="reminders">
                <div class="header">
                    <h2>Notifications</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>

                <div class="notification">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            autorenew
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Livraison (nom_livreur)</h3>
                            <small class="text_muted">
                                nom_resto
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

            </div>

        </div>


    </div>

    <script src="./assets/js/orders.js"></script>
    <script src="./assets/js/index.js"></script>
</body>

</html>