@import url('../font/font-family.css');

:root {
    --white-clr: #fff;
    --green-clr:#1cb45b;
    --beige-clr:#f7eac8;
    --black-clr:#212121;
    --yellow-clr:#fc800c;

    --danger: #D32F2F;
    --success: #388E3C;
}

.delete {
    color: var(--danger);
}

.update {
    color: var(--success);
}

.content main {
    display: flex;
    flex-direction: column;
}

.content main .ajouter a{
    text-decoration: none;
    font-size: 25px;
    color: #0c8fa0;
}

.content main .container{
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 3em;
    flex-wrap: wrap;
    height: 100%;
    gap: 4em;
}

.content main .card {
    border-radius: 18px;
    width: 20em;
    height: 30em;
    box-shadow:  5px 5px 17px #929292,
    -5px -5px 17px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

.content main .card img {
    width: 60%;
    height: 50%;
}

.content main .card .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content main .card .info h2 {
    font-size: 20px;
    font-weight: 100;
}

.content main .card .info .price,.qtt {
    color: var(--green-clr);
} 
.content main .card .info .note{
    display: flex;
    align-items: center; 
}

.content main .card .info .note p{
    margin: 0;
    display: flex;
    align-items: center;
}

.content main .card .info .note .etoile{
    display: flex;
    align-items: center;
    color: var(--yellow-clr);
}

.content main .card .button {
    display: flex;
    gap: 4em;
    align-items: center;
    margin-top: 2em;
}