<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="./assets/font/font2.css" rel="stylesheet" />
   <link rel="stylesheet" href="assets/css/livreur.css">
   <link rel="icon" href="./assets/images/logo.png">
   <title>E-Kaly - Livreur</title>
</head>

<body>
   <div class="container">
      <aside>
         <div class="top">
            <div class="logo">
               <img src="assets/images/logo.png" alt="logotipo">
               <h2>E<span class="ekaly">-KALY</span></h2>
            </div>
            <div class="close" id="close-btn">
               <span class="material-symbols-sharp">close</span>
            </div>
         </div>

         <div class="sidebar">
            <a href="#">
               <span class="material-symbols-sharp">home</span>
               <h3>Accueil</h3>
            </a>
            <a href="#">
               <span class="material-symbols-sharp">electric_moped</span>
               <h3>Livraison du jour</h3>
            </a>
            <a href="#" class="active">
               <span class="material-symbols-sharp">bar_chart</span>
               <h3>Statistique</h3>
            </a>
            <a href="#">
               <span class="material-symbols-sharp">logout</span>
               <h3>Logout</h3>
            </a>
         </div>
      </aside>
      <!-- END ASIDE -->
      <main>
         <h1>Statistique livreur</h1>
         <form action="">
             <div class="liste">
            <div class="form-input">
                <select name="" id="">
                    <option value="">Mois</option>
                    <option value="">Janvier</option>
                    <option value="">Fevrier</option>
                </select>
                <select name="" id="">
                   <option value="">Année</option>
                   <option value="">2024</option>
               </select>
                <button type="submit">Valider</button>
            </div>
             </div>
        </form>

         <div class="insights">
            <div class="sales">
               <span class="material-symbols-sharp">account_balance_wallet</span>
               <div class="middle">
                  <div class="left">
                     <h3>Solde reçu</h3>
                     <h1 class="ekaly">AR 20000,00</h1>
                  </div>
               </div>
            </div>
            <!-- END SALES -->
         </div>
         <!-- END INSIGHTS -->
         
         <div class="chart chart-container">
            <div class="middle">
               <div class="left">
                  <div id="columnchart_material"></div>
               </div>
            </div>
         </div>
         <!-- END CHART -->
         
         <div class="recent-orders">
            <h2>Tableau récapitulatif</h2>
            <table>
               <thead>
                  <tr>
                     <th>Commande</th>
                     <th>Gain</th>
                     <th>Commission Resto</th>
                  </tr>
               </thead>
               <tbody>
                  <td>Ravitoto</td>
                  <td>AR 20000</td>
                  <td>3000</td>
               </tbody>
            </table>
         </div>
      </main>
      <!-- END MAIN -->
   </div>
   <script type="text/javascript" src="assets/js/main.js"></script>
   <script type="text/javascript" src="assets/js/loader.js"></script>
   <script type="text/javascript" src="assets/js/LivreurChart.js"></script>
</body>

</html>